html {
    height: 100%;
    /* width: 250vh; */
    overflow: hidden;
    animation: none ;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(121, 9, 99, 1) 0%, rgba(106, 8, 87, 1) 2%, rgba(67, 5, 55, 1) 11%, rgba(52, 4, 43, 1) 26%, rgba(76, 6, 62, 1) 46%, rgba(33, 2, 27, 1) 65%, rgba(49, 3, 40, 1) 87%, rgba(0, 0, 0, 1) 100%);
    font-family: "Poppins";
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    /* position: relative; */
    /* left: 17%;
    top: 15%; */
    
}

#ProductCard {
    background: rgba(255, 255, 255, 0.26);
    border: 1px solid rgba(255, 255, 255, 0.62);
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.548);
    position: relative;
    height: 500px;
    width: 800px;
    left: 40px;
    margin: 0;
    display: grid;
    grid-template-rows: 20% 15% 12% 11% 11% 11% 20%;
    grid-template-columns: 40px 1fr 40px 40px 40px 40px 40px 1fr 40px;
    border-radius: 50px;
}

#carouselTitle {
    grid-area: 2 /-4 /2/-1;
    font-size: 45px;
    z-index: 3;
    position: relative;
    left: -30px;
    font-weight: 700;
    color: #221104;
}

.productTable {
    font-size: 15px;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

#svgContainer {
    width: 110%;
    height: 110%;
    margin-top: -101px;
    margin-left: -167px;
}

.imageGroupeContainer img {
    max-height: 100%;
    max-width: 100%;
}

#carousel{
    height: 500px;
    position: relative;
    left: -30px;
}

@media only screen and (max-width: 600px) {
    #ProductCard {
        grid-template-rows: 30% 15% 12% 11% 11% 11% 10%;
        grid-template-columns: 40px 1fr 40px 40px 40px 40px 40px 1fr 40px;
    }

    #carouselTitle {
        grid-area: 2 /1 /2/-1;
    }

    div#rotatingDiv {
        grid-area: 1 / 1 / 3 /10;
    }

    div#carousel {
        grid-area: 4 /1 /-2/-1;
    }

    div#carousel2 {
        grid-area: 1 / 7 / 2 /10
    }

    div#carousel2 h1 {
        font-size: 2.7em;
    }

    div.rotatingDiv2 {
        --startDiff: calc((var(--imgContainerPosition) * -120deg) + 300deg);
        margin-right: -600px;
        margin-top: -100px;
        width: 90%;
    }

    .imageGroupeContainer .imageContainer:nth-of-type(1) {
        position: absolute;
        top: 5px;
        left: -71px;
    }

    .imageGroupeContainer .imageContainer:nth-of-type(2) {
        position: absolute;
        top: -190px;
        left: 60px;
    }

    .imageGroupeContainer .imageContainer:nth-of-type(3) {
        position: absolute;
        top: -145px;
        left: -45px;
    }

    #svgContainer {
        width: 140%;
        height: 140%;
        margin-top: -130px;
        margin-left: 90px;
    }
}

.bubble {
    position: absolute;

    background: radial-gradient(circle at 75% 30%,
            rgb(180, 180, 180) 5px,
            rgba(106, 8, 87, 1) 8%,
            rgb(66, 5, 54) 60%,
            rgba(106, 8, 87, 1) 100%);
    /* box-shadow: inset 0 0 20px rgb(180, 180, 180), inset 10px 0 46px #eaf5fc,
        inset 88px 0px 60px #fec2df, inset -20px -60px 100px #fde9ea,
        inset 0 50px 140px #fbb1b5, 0 0 90px rgb(180, 180, 180); */
    border-radius: 50%;
    width: calc(var(--size) * 100px);
    height: calc(var(--size) * 100px);
    animation: play 6s infinite linear;
}

@keyframes play {
    0% {
        transform: translateY(843px) scale(1);
    }

    50% {
        transform: translateY(0) scale(0.7);
    }

    100% {
        transform: translateY(-843px) scale(0);
    }

}

#bubble1 {
    --size: 0.7;
    left: 610px;
    top: 10px;
}

#bubble2 {
    --size: 1.4;
    left: 260px;
    top: 300px;
}

#bubble3 {
    --size: 2.1;
    left: 660px;
    top: 800px;
}

#bubble4 {
    --size: 1.6;
    left: 760px;
    top: 100px;
}

#bubble5 {
    --size: 0.8;
    left: 860px;
    top: 600px;
}

#bubble6 {
    --size: 1;
    left: 150px;
    top: 100px;
}

#bubble7 {
    --size: 2;
    left: 510px;
    top: 500px;
}

#bubble8 {
    --size: 4.1;
    left: 990px;
    top: 200px;
}

#bubble9 {
    --size: 1;
    left: 1210px;
    top: 10px;
}

#bubble10 {
    --size: 0.8;
    left: 190px;
    top: 550px;
}


div#rotatingDiv {
    transition: all 0.25s linear;
    --position: 1;
    --bgColor: url(#grad1);
    grid-area: 1 / 1 / 7 /6;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

div#TopLeftHideOverflow {
    grid-area: 1 / 1 / 6 /6;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

div.rotatingDiv2 {
    --startDiff: calc((var(--imgContainerPosition) * -120deg) + 210deg);
    margin-left: -200px;
    margin-top: -200px;
    position: absolute;
    transition: all 0.85s cubic-bezier(0.0, 0.22, 0.165, 1);
    width: 75%;
    height: 100px;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(calc(((360deg/3) * var(--position)) + var(--startDiff)));
    transform-origin: center center;
    z-index: 2;
    opacity: 0;
}

div.imageGroupeContainer {
    transition: all 0.85s cubic-bezier(0.0, 0.22, 0.165, 1);
    position: absolute;
}


div.rotatingDiv2:nth-of-type(2) {
    --imgContainerPosition: 1;
}

div.rotatingDiv2:nth-of-type(3) {
    --imgContainerPosition: 2;
}

div.rotatingDiv2:nth-of-type(4) {
    --imgContainerPosition: 3;
}

div.rotatingDiv2:nth-of-type(5) {
    --imgContainerPosition: 4;
}

div.rotatingDiv2:nth-of-type(6) {
    --imgContainerPosition: 5;
}

.imageContainer {
    /* background-color: rgba(255, 255, 255, 0.322);
    border: 1px solid rgba(255, 255, 255, 0.62); */
    /* box-shadow: 2px 2px 20px 1px rgba(29, 29, 29, 0.548); */
    /* border-radius: 50%;
    border-radius: 15px; */
    width: 120px;
    height: 120px;
    padding: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.imageGroupeContainer .imageContainer {
    position: absolute;
    transition: all 0.85s cubic-bezier(0.0, 0.22, 0.165, 1);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(calc(((-360deg/3) * var(--position)) - var(--startDiff)));
}

.imageContainer1 {
    position: absolute;
    top: 100px;
    left: 50px;
}

.imageContainer2 {
    position: absolute;
    top: -65px;
}

.imageContainer3 {
    position: absolute;
    top: -240px;
    left: 90px;
}

#PentaPath {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(calc(((360deg/5) * var(--position)) + 61deg));
    transform-origin: center center;
    transition: all 0.25s linear;
    fill: var(--bgColor);
}


div#carousel {
    grid-area: 4 /-4 /7/-2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    font-size: 0.8em;
}

div.item {
    position: absolute;
    width: 100%;
    height: 100%;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: translateX(calc(-100% * var(--r)));
}

div.item:nth-of-type(1) {
    --offset: 1;
}

div.item:nth-of-type(2) {
    --offset: 2;
}

div.item:nth-of-type(3) {
    --offset: 3;
}

div.item:nth-of-type(4) {
    --offset: 4;
}

div.item:nth-of-type(5) {
    --offset: 5;
}

#input {
    grid-column: 1/7;
    grid-row: -1/-2;
}

#inputt {
    grid-column: 4/9;
    grid-row: -1/-2;
}

#input1 {
    grid-column: 3 / 3;
    grid-row: -1/-2;
}

#input2 {
    grid-column: 4 / 4;
    grid-row: -1/-2;
}

#input3 {
    grid-column: 5 / 5;
    grid-row: -1/-2;
}

#input4 {
    grid-column: 6 / 6;
    grid-row: -1/-2;
}

#input5 {
    grid-column: 7 / 7;
    grid-row: -1/-2;
}

#input1:checked~div#carousel {
    --position: 1;
}

#input2:checked~div#carousel {
    --position: 2;
}

#input3:checked~div#carousel {
    --position: 3;
}

#input4:checked~div#carousel {
    --position: 4;
}

#input5:checked~div#carousel {
    --position: 5;
}

#input1:checked~#rotatingDiv {
    --position: 1;
    --bgColor: url(#grad1);
}

#input2:checked~#rotatingDiv {
    --position: 2;
    --bgColor: url(#grad2);
}

#input3:checked~#rotatingDiv {
    --position: 3;
    --bgColor: url(#grad3);
}

#input4:checked~#rotatingDiv {
    --position: 4;
    --bgColor: url(#grad4);
}

#input5:checked~#rotatingDiv {
    --position: 5;
    --bgColor: url(#grad5);
}

#input1:checked~#rotatingDiv {
    --position: 1;
    --bgColor: url(#grad1);
}

#input2:checked~#rotatingDiv {
    --position: 2;
    --bgColor: url(#grad2);
}

#input3:checked~#rotatingDiv {
    --position: 3;
    --bgColor: url(#grad3);
}

#input4:checked~#rotatingDiv {
    --position: 4;
    --bgColor: url(#grad4);
}

#input5:checked~#rotatingDiv {
    --position: 5;
    --bgColor: url(#grad5);
}

#input1:checked~#rotatingDiv #rotImg1 {
    opacity: 1;
}

#input1:checked~#rotatingDiv #rotImg2 {
    opacity: 0;
}

#input1:checked~#rotatingDiv #rotImg3 {
    opacity: 0;
}

#input1:checked~#rotatingDiv #rotImg4 {
    opacity: 0;
}

#input1:checked~#rotatingDiv #rotImg5 {
    opacity: 0;
}

#input2:checked~#rotatingDiv #rotImg1 {
    opacity: 0;
}

#input2:checked~#rotatingDiv #rotImg2 {
    opacity: 1;
}

#input2:checked~#rotatingDiv #rotImg3 {
    opacity: 0;
}

#input2:checked~#rotatingDiv #rotImg4 {
    opacity: 0;
}

#input2:checked~#rotatingDiv #rotImg5 {
    opacity: 0;
}

#input3:checked~#rotatingDiv #rotImg1 {
    opacity: 0;
}

#input3:checked~#rotatingDiv #rotImg2 {
    opacity: 0;
}

#input3:checked~#rotatingDiv #rotImg3 {
    opacity: 1;
}

#input3:checked~#rotatingDiv #rotImg4 {
    opacity: 0;
}

#input3:checked~#rotatingDiv #rotImg5 {
    opacity: 0;
}

#input4:checked~#rotatingDiv #rotImg1 {
    opacity: 0;
}

#input4:checked~#rotatingDiv #rotImg2 {
    opacity: 0;
}

#input4:checked~#rotatingDiv #rotImg3 {
    opacity: 0;
}

#input4:checked~#rotatingDiv #rotImg4 {
    opacity: 1;
}

#input4:checked~#rotatingDiv #rotImg5 {
    opacity: 0;
}

#input5:checked~#rotatingDiv #rotImg1 {
    opacity: 0;
}

#input5:checked~#rotatingDiv #rotImg2 {
    opacity: 0;
}

#input5:checked~#rotatingDiv #rotImg3 {
    opacity: 0;
}

#input5:checked~#rotatingDiv #rotImg4 {
    opacity: 0;
}

#input5:checked~#rotatingDiv #rotImg5 {
    opacity: 1;
}


div#carousel2 {

    grid-area: 1 / 1 / 6 /3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --item2s: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    z-index: 5;
}

div.item2 {
    text-align: center;
    position: absolute;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: translateX(calc(-300px * var(--r)));
}

div.item2 h3 {
    font-weight: 500;
    font-size: 40px;
    color: white;
    position: relative;
    left: -25px;
}

div.item2:nth-of-type(1) {
    --offset: 1;
}

div.item2:nth-of-type(2) {
    --offset: 2;
}

div.item2:nth-of-type(3) {
    --offset: 3;
}

div.item2:nth-of-type(4) {
    --offset: 4;
}

div.item2:nth-of-type(5) {
    --offset: 5;
}

#input1:checked~div#carousel2 {
    --position: 1;
}

#input2:checked~div#carousel2 {
    --position: 2;
}

#input3:checked~div#carousel2 {
    --position: 3;
}

#input4:checked~div#carousel2 {
    --position: 4;
}

#input5:checked~div#carousel2 {
    --position: 5;
}



input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    outline: 0px solid rgb(250, 250, 250);
    box-shadow: inset 0px 4px 5px 2px rgba(0, 0, 0, 0.534);
    z-index: 1;
    margin: auto;
}

.sliderSelection1{
    border-radius: 50%;
    height: 17px;
    width: 17px;
    color: black;
    margin: auto;
}

#sliderContainer {
    grid-area: -1 / 3 / -2 / 8;
    position: relative;
    margin: auto;
}

#slider {
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.432);
    transition: transform 1s;
    border-radius: 50%;
    animation-timing-function: ease-in-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: 0.2s left .05s ease-in-out;
    z-index: 3;
    --distance: 40px;
    top: -8px;
}

#input1:checked~#sliderContainer #slider {
    animation-name: input1;
    left: calc((var(--distance) * 1) - 127px);
}

#input2:checked~#sliderContainer #slider {
    animation-name: input2;
    left: calc((var(--distance) * 2) - 127px);
}

#input3:checked~#sliderContainer #slider {
    animation-name: input3;
    left: calc((var(--distance) * 3) - 127px);
}

#input4:checked~#sliderContainer #slider {
    animation-name: input4;
    left: calc((var(--distance) * 4) - 127px);
}

#input5:checked~#sliderContainer #slider {
    animation-name: input5;
    left: calc((var(--distance) * 5) - 127px);
}



@keyframes input1 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input2 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input3 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input4 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

@keyframes input5 {

    30%,
    70% {
        transform: scale(0.5);
    }
}

/* play  button */

.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    /* left: 200px; */
    color: #f0f0f0;
    cursor: pointer;
    z-index: 999999;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 5px;
}

.button-86::after,
.button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    transition: all .4s;
}

.button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
}

.button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.homee{
    width: 100px;
    height: 30px;
    font-size: 40px;
    position: relative;
    top: 280px;
    left: 300px;
	color: rgb(248, 216, 216);
}
.homee:hover{
    color: rgb(255, 255, 255);
}
.left{
    text-decoration: none;
    z-index: 100;
}
.right{
    text-decoration: none;
    z-index: 100;
}
/* @media only screen and (max-width:1700px){
    body{
        background-repeat: no-repeat;
    }
} */
@media only screen and (min-width:1400px) and (max-width:1700px){
    .homee{
        left:270px;
    }    
}
@media only screen and (min-width:1200px) and (max-width:1400px){
    .homee{
        left:250px;
    }    
}
@media only screen and (min-width:1000px) and (max-width:1200px){
    .homee{
        left:230px;
        font-size: 50px;
    }    
}
@media only screen and (min-width:1200px) and (max-width:1360px){
    html{
        height: 110%;
        width: 110%;
    }
    
}
@media only screen and (min-width:1000px) and (max-width:1200px){
    html{
        height: 135%;
        width: 135%;
    }
    
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	border-radius: 80%;
	backface-visibility: visible;
	animation: infinite linear;
	z-index: 0;
}