@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

html,body {
  /* position: relative; */
  font-family: "poppins";
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.jumbotron{
  height:100%;
  width:100%;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.modal__wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(121, 9, 99, 1) 0%, rgba(106, 8, 87, 1) 2%, rgba(67, 5, 55, 1) 11%, rgba(52, 4, 43, 1) 26%, rgba(49, 3, 40, 1) 46%, rgba(33, 2, 27, 1) 65%, rgba(49, 3, 40, 1) 87%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 11119;
  justify-content: center;
  align-items: center;
  color: #000;
}

.modal {
  position: relative;
  left:90px;
  width: 420px;
  height: 300px;
  border-radius: 10px;
  /* box-shadow: 0 2px 4px #000; */
  /* background-color: #c2defc; */
  border-radius: 15px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: #f5f2f2 1px solid;
  
}

.modal--top {
  position: relative;
  display: flex;
  bottom: 15px;
  height: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2345;
  font-size: 28px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.5;
}

.modal--bottom {
  font-size: 17px;
  font-weight: 500px;
  display: flex;
  position: relative;
  bottom:40px;
  height: 50%;
  padding: 6%;
  flex-direction: column;
  justify-content: space-between;
}
.modal__btn {
  font-family: "poppins";
  appearance: button;
  position: relative;
  left: 118px;
  background: linear-gradient(to bottom, #fff, #fcdfaa);
  border: 0 solid #e5e7eb;
  border-radius: 10px;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  width: 90px;
  display: flex;
  font-size: 100%;
  font-weight: 700;
  /* line-height: 24px; */
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  /* margin-bottom: 10px; */
  outline: 2px solid transparent;
  padding: 0.3rem 0.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2); */
}

.modal__btn:active {
  background-color: #f3f4f6;
  box-shadow: -1px 1px 2px rgba(15, 8, 2, 0.15), 0px 1px 1px rgba(41, 21, 5, 0.15);
  transform: translateY(0.125rem);
}

.modal__btn:hover {
  box-shadow: rgba(30, 16, 5, 0.46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

.area__wrapper {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgba(121, 9, 99, 1) 0%, rgba(106, 8, 87, 1) 2%, rgba(67, 5, 55, 1) 11%, rgba(52, 4, 43, 1) 26%, rgba(49, 3, 40, 1) 46%, rgba(33, 2, 27, 1) 65%, rgba(49, 3, 40, 1) 87%, rgba(0, 0, 0, 1) 100%);
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-top: 6%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.area {
  width: 400px;
  height: 400px;
  list-style: none;
  margin: 6% 0;
  margin-left: 40px;

  /* border: #f5f2f2 1px solid;*/
}
.play{
  position: relative;
  top:20px;
  background-color: #c2defc;
    border-radius: 15px;
    padding: 23px;
    max-width: 800px;
    width: 70%;
    background: rgba(255, 255, 255, 0.3);
    border: #f5f2f2 1px solid;
  }

.area__head {
  color: #210202;
}

.tile {
  width: 20%;
  height: 20%;
  margin: 10px;
  position: relative;
  display: inline-block;
}

.tile--front,
.tile--back {
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  font-size: 30px;
  width: 100%;
  min-height: 100%;
  text-align: left;
  backface-visibility: hidden;
  transform-style: preserve3d;
  transition: all 0.4s;
}

.tile--front {
  background: linear-gradient(to bottom, #fff, #fcdfaa);
  cursor: pointer;
}

.tile--back {
  transform: rotateY(-180deg);
}

.tile--selected .tile--back {
  transform: rotateY(0deg);
}

.tile--selected .tile--front {
  transform: rotateY(180deg);
}

.tile--selected.tile--matched .tile--back,
.tile--selected.tile--matched .tile--front {
  animation-name: shake;
  animation-duration: 0.4s;
}

.area__footer {
  width: 20%;
position: relative;
bottom:290px;
left:240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #c2defc;
  border-radius: 15px;
  padding: 23px;
  max-width: 180px;
  /* width: 60%; */
  background: rgba(255, 255, 255, 0.3);
  border: #f5f2f2 1px solid;
}

.area__footer > p {
  font-family: "poppins";
  color: #000000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
}

.hidden {
  display: none;
}
.back{
  color: #e5e7eb;
  /* margin: 30px 0 0 10px; */
  text-decoration: none;
  font-family: "poppins";
  position: relative;
  bottom: 20px;
  left:20px;
  font-size: 17px;
} 

.back:hover{
  color: #fcdfaa;
}
.back1{
  color: #e5e7eb;
  margin: 30px 0 0 10px;
  text-decoration: none;
  font-family: "poppins";
  position: relative;
  right:420px;
  top:157.6px;
  font-size: 17px;
} 

.back1:hover{
  color: #fcdfaa;
}
.modal__btn1 {
  font-family: "poppins";
  appearance: button;
  position: relative;
  left: 240px;
  bottom: 300px;
  background: linear-gradient(to bottom, #fff, #fcdfaa);
  border: 0 solid #e5e7eb;
  border-radius: 10px;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  width: 90px;
  display: flex;
  font-size: 100%;
  font-weight: 700;
  /* line-height: 24px; */
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  /* margin-bottom: 10px; */
  outline: 2px solid transparent;
  padding: 0.3rem 0.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2); */
}

.modal__btn1:active {
  background-color: #f3f4f6;
  box-shadow: -1px 1px 2px rgba(15, 8, 2, 0.15), 0px 1px 1px rgba(41, 21, 5, 0.15);
  transform: translateY(0.125rem);
}

.modal__btn1:hover {
  box-shadow: rgba(30, 16, 5, 0.46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}
@media (max-width: 1450px) {
	.back1{
		right:400px;
    }
}
@media (max-width: 1350px) {
	.back1{
		right: 370px;
    }
}
@media (max-width: 1250px) {
	.back1{
		right:340px;
    }
}
@media (max-width: 1150px) {
	.back1{
		right:310px;
    }
}
@media (max-width: 1050px) {
	.back1{
		right:290px;
    }
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	border-radius: 80%;
	backface-visibility: visible;
	animation: infinite linear;
	z-index: 0;
}