@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

.testimonial {
position: relative;
  perspective-origin: 50% 50%;
  perspective: 100em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  counter-reset: bubble 0;
  overflow: visible;
  top: 10em;
  min-height: 400px;
  flex-grow: 1;
}

.testimonial .testimonials {
  --rotation: 0deg;
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateZ(calc(var(--distance) * -1)) rotateY(var(--rotation));
  transition: transform ease-in-out 1s;
  transform-style: preserve-3d;
}

.testimonial .arrow-left,
.testimonial .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: rgb(69, 85, 94);
  z-index: 2;
  background:transparent;
  padding: 5px;
}

.testimonial .arrow-left {
  top:3.5em;
  left: 30px;
  font-size: 3em;
}

.testimonial .arrow-right {
  top:3.5em;
  right: 30px;
  font-size: 3em;
}

.testimonial .navigation {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
  cursor: pointer;
}

.testimonial .navigation .nav-dot {
  position: relative;
   top:3em;
  padding: 5px;
  background: rgb(23, 24, 24);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}

.testimonial .navigation .focused {
  background:transparent;
  transform:scale(1.3);
}

.chat-bubble {
  /* padding: 2em;
  width: min(350px, calc(100vw - 40px));
  box-sizing: border-box;
  background-color: white;
  border-radius: 1em; */
  position: absolute;
  transform: translateX(-50%) rotateY(var(--rotation)) translateZ(var(--distance));
  transition: filter 1s ease;
  backface-visibility: hidden;
  pointer-events: none;
  filter: blur(3px);
}

.chat-bubble.focused {
  filter: blur(0px);
  pointer-events: auto;
}

.chat-bubble::after {
  content: "";
  position: absolute;
  top: calc(100% - 1px);
  left: 5%;
  width: 25px;
  height: 15px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: inherit;
}

.chat-bubble .container .card {
  max-width : 300px;
  height : 215px;  
  background-color : #383A3F;
  margin : 30px 10px;
  padding : 20px 15px;
  display : flex;
  border: 20px !;
  border-color: rgb(83, 35, 35);
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px; 
}
.chat-bubble .container .card:hover {
  height : 280px;    
} 


.chat-bubble .container .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
  background: linear-gradient(132deg, rgb(65, 80, 95) 0.00%,rgb(26, 45, 63) 50.00%, rgb(36, 37, 38) 100.00%);
  
  border-top-left-radius : 15px;
  border-top-right-radius: 15px;
  top : -40%;
  left: 0px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.3);
  z-index : 1;
  opacity: 1;

}

.chat-bubble .container .card .image img {
  max-width : 100%;
  position: relative;
  left:15px;
}

.chat-bubble .container .card .content {
  position : relative;
  font-size: 1.5em;
  top : -145px;
  border-radius: 25px;
  padding : 10px;
  color : #F6B352;
  text-align : center;
  visibility : hidden;
  opacity : 0;
  transition : 0.2s ease-in-out;
	
	display: block;
	margin-bottom: 10px;
	font-family: "Merienda";
    
}

.chat-bubble .container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
} 
.chat-bubble .container .card:hover .image img {
  top:-2em;
  transform:scale(1.4);
  transition: all 0.3s ease-in-out;
 
}
.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}
.types span {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 600;
}
.hide{
	display: none;
  }
  .wrap1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 250px;
    min-height: 50px;
    font-family: 'nova flat';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    top:2em;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(250px + 18px);
    min-height: calc(50px + 18px);
    border: 5px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    50%{
      width: 300px;
      height: 300px;
      opacity: 0.5;
    }
    100% {
      width: 600px;
      height: 600px;
      opacity: 0;
    }
  }
  .id{
    position:relative;
    top:.5em;
    right:0.9em;
    font-size: 0.9em;
    font-family:'Merienda';
    color: rgba(255, 248, 248, 0.797);
  }
  .pknm{
    position:relative;
    top:.5em;
    left:0em;
    font-size: 1.1em;
    font-family:'Merienda';
  }
  .type{
    position:relative;
    top:1.3em;

  }
  .id1{
    position:relative;
    right:0.9em;
    color: #fff;

  }

  .anan {
    position: relative;
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 28px;
    color: rgb(83, 56, 56);
    top:3em;
    right:-22em;
  }
  
  /* Animation */
   .anan{
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 300px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(68, 74, 68, 0.75);}
    to{border-right-color: transparent;}
  }
  
 