@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html {
  background: #222222;
  /* display: grid; */
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  font-family: "poppins";
  padding: 0;
}

body{
/* padding-bottom: 10px; */
}
.feedback-button {
  height: 40px;
  border: solid 3px #CCCCCC;
  background: #333;
  width: 100px;
  line-height: 32px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: white;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  top: 45%;
  z-index: 999;
  text-decoration: none;
}

#feedback-main {

  float: left;
  padding-top: 0px;
}

#feedback-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding: 35px;
  width: 1000px;
  height: 835px;
  /* height: 120%; */
  float: left;
  left: 50%;
  top: -30px;
  bottom: 0;
  position: absolute;
  margin-top: 80px;
  margin-left: -525px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

@media only screen and (max-width: 580px) {
  #feedback-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

.content {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  height: 740px;
  padding: 3em;
  display: flex;
  flex-direction: row;
  border-radius: 10px;

}

.header {
  /* height: 635px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header img {
  border-radius: 10px;
}

header h2 {
  font-size: 25px;
  font-weight: 600;
  color: #9ea8bc;
  font-family: "poppins";
  text-align: center;
  margin-bottom: 40px;
  padding-top: 0.2em;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  color: #9ea8bc;
  font-family: "poppins";
  text-align: center;
  margin-bottom: 40px;
  padding-top: 4em;
}


.header img {
  position: relative;
  height: 65%;
  max-width: 29em;
  /* margin-bottom: 2em; */
}

.feel {
  font-family: "poppins";
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  color: #9ea8bc;
  font-size: 16;
}

.feel1 {
  position: relative;
  font-family: "poppins";
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  color: #9ea8bc;
  font-size: "14px";
  bottom: 20px;
  left: 10px;
}

.link {
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.star {
  margin-top: 10px;
  margin-bottom: -10px;
}

.roh {
  padding: 0em 2.5em;
}

.roh h2 {
  font-size: 100%;
  font-weight: 600;
  line-height: 1.3;
  color: #9ea8bc;
  font-family: "poppins";
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 160px;
}

[property=comment] {
  position: relative;
  /* bottom:215px; */
  top: -140px;
  resize: none;
  width: 350px;
  height: 8em;
  /* margin: 3em 0 2.5em; */
  padding: 1em;
  border: none;
  border-radius: 0.3em;
  color: black;
  background-color: white;
  font-family: "poppins";
}
[property=email] {
  font-family: "poppins";
}

[property=comment]::placeholder {
  font-size: 110%;
  color: gray;
  filter: opacity(45%);
  font-family: "poppins";
}

[property=comment]:focus {
  outline: none;
  box-shadow: 0 0 3px 3px var(--accent-color-1);
}

.email {
  position: relative;
  /* bottom:163px; */
  resize: none;
  width: 350px;
  margin: 0 0 2.5em 0;
  padding: 1em;
  border: none;
  border-radius: 0.3em;
  color: black;
  background-color: white;
  top: -130px;
}

.email::placeholder {
  font-size: 110%;
  color: gray;
  filter: opacity(45%);
  font-family: "poppins";
}

.email:focus {

  outline: none;
  box-shadow: 0 0 3px 3px var(--accent-color-1);
}

[property=feedback]:first-of-type:nth-last-of-type(n + 2)~[property=feedback] {
  display: none;
}

pre {
  tab-size: 2;
  -moz-tab-size: 2;
}

pre:empty::after {
  content: "No feedback yet 😔";
  font-family: "poppins";
}

::-moz-focus-inner {
  border: 0;
}

.slider {
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: 'Passion One', sans-serif;
  justify-content: center;
  height: 350px;
  width: 400px;
  position: relative;
  bottom: 55px;
}

svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.shine,
.iconContainer {
  pointer-events: none;
}

.dot {
  cursor: pointer;
}

.shine circle {
  stroke: #FFF;
}

.speechBubbleGroup text {
  text-anchor: middle;
  font-size: 29px;

}

.hitArea,
.dragContainer {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.send {
  position: relative;
  bottom: 100px;
  left: 128px;
  width: 135px;
  padding: 12px 18px;
  font-size: 15px;
  color: #fff;
  background-color: #3f51b5;
  border: none;
  border-radius: 4px;
  position: relative;
}

.send:hover {
  background-color: #5c6bc0;
}

.send:focus {
  outline: none;
  background-color: #ef5350;
}

button.send:disabled {
  color: var(--accent-color-1);
  background-color: var(--bg-color);
}

i {
  margin-left: 12px;
}

.plane {
  position: absolute;
  right: 18px;
}

.fa-check,
.fade {
  -webkit-animation: fade 2s;
  animation: fade 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hidden {
  display: none !important;
}

.visible {
  display: inline !important;
}

.fly {
  position: absolute;
  -webkit-animation-name: a;
  animation-name: a;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.done {
  background-color: #ef5350;
}

.done:hover {
  background-color: #ef5350;
}

@-webkit-keyframes fade {
  0% {
    color: transparent;
  }

  100% {
    color: #fff;
  }
}

@keyframes fade {
  0% {
    color: transparent;
  }

  100% {
    color: #fff;
  }
}

@-webkit-keyframes a {
  0% {
    top: 10px;
    left: 80px;
  }

  4% {
    transform: rotate(0deg);
  }

  100% {
    top: -10000px;
    left: 10000px;
    transform: rotate(13360deg);
  }
}

@keyframes a {
  0% {
    top: 10px;
    left: 80px;
  }

  4% {
    transform: rotate(0deg);
  }

  100% {
    top: -10000px;
    left: 10000px;
    transform: rotate(13360deg);
  }
}